<div class="navbar navbar-light bg-light justify-content-between border-bottom p-4">
  <div>
    <%= link_to "Wikiminous", articles_path, class: "text-secondary" %>
  </div>
  <div>
    <%= link_to "Create a new Task", new_article_path, class: "text-secondary" %>
  </div>
</div>

<div class="container d-flex justify-content-left mt-5 mr-5 pr-5">
  <div class="row">
    <div class="col">
      <% @articles.each do |article| %>
        <h2><%= link_to article.title, article_path(article.id), class: "text-info" %></h2>
        <p><%= article.content %></p>
      <% end %>
    </div>
  </div>
</div>
